*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montseratt", cursive;
    min-height: 100vh;
    background-color: #818589;
}

.app {
    background-color: #36454F;
    color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 550px;
    min-height: 300px;
    margin: 100px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

#date {
    display: flex;
    justify-content: right;
}

.to-do-input input{
    font-family: "Montseratt", cursive;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 500px;
    min-height: 40px;
    outline: none;
    display: flex;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 25px;
}

.to-do-input button {
    font-family: "Montseratt", cursive;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #efefef;
}

.input-header {
    margin-bottom: 25px;
}

.item textarea{
    width: 500px;
    padding: 25px;
    resize: none;
}




.update-controller {
    display: none;
}