*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montseratt", cursive;
    min-height: 100vh;
    background-color: #818589;
}

.app {
    background-color: #36454F;
    color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 550px;
    min-height: 300px;
    margin: 100px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

#date {
    display: flex;
    justify-content: right;
}

.to-do-input input{
    font-family: "Montseratt", cursive;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 500px;
    min-height: 40px;
    outline: none;
    display: flex;
    border: none;
    outline: none;
    border-radius: 30px;
    padding-left: 25px;
}

.to-do-input button {
    font-family: "Montseratt", cursive;
    outline: none;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #efefef;
    cursor: pointer;
    transition: .2s ease-out;
}

.to-do-input button:hover {
    scale: 1.1;
    background-color: white;
}

.input-header {
    margin-bottom: 25px;
}

.item textarea{
    font-family: "Montseratt", cursive;
    width: 500px;
    border-radius: 5px;
    padding-left: 8px;
    resize: none;
}

.input-controller .fa-solid {
    border-radius: 3px;
    background-color: #D3D3D3;
    color: darkslategrey;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: .2s ease-out;
}

.input-controller .fa-solid:hover {
    color: #f5f5f5;
    background-color:darkslategrey;
}

.input-controller .fa-regular {
    border-radius: 3px;
    background-color: #D3D3D3;
    color: darkslategrey;
    padding: 3px;
    cursor: pointer;
    transition: .2s ease-out;
}

.input-controller .fa-regular:hover {
    color: #f5f5f5;
    background-color: darkslategrey;
}

 .input-controller textarea {
    font-family: "Montseratt", cursive;
    text-align: left;
    height: 30px;
    color: white;
}

.saveBtn {
    font-family: "Montseratt", cursive;
    background-color: #E5E4E2;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    border: none;
}

.saveBtn:hover {
    background: #f5f5f5;
    color: #555;   
}


.cancelBtn:hover {
    background: #f5f5f5;
    color: #555;   
}

.cancelBtn {
    font-family: "Montseratt", cursive;
    background-color: #E5E4E2;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    border: none;
}

.update-controller {
    display: none;
}